
/*Global styles
---------------------------*/
body{
    background: rgb(224, 241, 247);
}

a{

    color: #EF233C;
}

a:hover{
    text-decoration: none;
}

.list-details{
    color: rgb(219, 223, 224);
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.inline{

    display: inline-block;
}

.period {

    color: rgb(239, 185, 35);

}
/*Header and footer
---------------------------*/
header, footer{
    background: #2B2D42;
    color: #8D99AE;
}

header h1, header h2{
    color: #EDF2F4;
    font-family: 'Muli', sans-serif;
    margin: 0;
}

header h1, h2, h3, p, a{
    padding-left: 10px;
    
}

header{
    overflow: hidden;
}

/*Images styles
---------------------------*/
.pofile-image-resizing{
    /*Porfile image style*/
    width: 200px;
    height:auto;
    float: left;
    margin: 10px;
    border-radius: 50%;
}


/*Bio
---------------------------*/





/*Work Experince
---------------------------*/
#work-experince{
    background: rgb(83, 169, 212);
    font-family: 'Oswald', sans-serif;
}

#work-experince h2{

    color: #EDF2F4;
    font-size: 20px;
    line-height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    
}
.role{

    color: rgb(92, 93, 94);
    line-height: 20%;
}

#work-experince h3 ,#work-experince h4 ,#work-experince h5{

    font-size: 1.2rem;
    padding-left: 0.5em;
}

/*Education
---------------------------*/
#education{
    background: rgb(83, 169, 212);
    font-family: 'Oswald', sans-serif;
    font-size: 5 px;
    line-height: 0.7;
    color: rgb(92, 93, 94);
}

#education h2{

    color: #EDF2F4;
    font-size: 20px;
    line-height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    /*font-family: 'Ubuntu', sans-serif;*/
}

#education h3 ,#education h4 ,#education h5{

    font-size: 0.8rem;
    padding-left: 0.5em;
    margin: 0.5em;
}

#education h5{

    padding-bottom: 0.5em;
}